<header class="site-header">
    <div class="logo">
        <img data-src="assets/images/logo.png" alt="DYSTIL Logo">
    </div>

    <nav class="navbar">
        <a data-link="./">Home</a>
        <a data-link="about">About Us</a>
        <a data-link="services">Services</a>
        <!-- <a data-link="role">Role</a> -->
        <!-- <a data-link="approach">Approach</a>
        <a data-link="delivery">Delivery</a>
        <a data-link="platform">Platform</a> -->
        <a data-link="faq">FAQ</a>
    </nav>

    <a data-link="register" class="get-started-btn">Get Started</a>
</header>