<header class="site-header">
    <div class="logo">
        <img data-src="/assets/images/logo.png" alt="DYSTIL Logo">
    </div>

    <nav class="navbar">
        <a data-link="./">Home</a>
        <a data-link="/corporate/about">About Us</a>
        <a data-link="/students/services">Services</a>
        <!-- <a data-link="/corporate/role">Role</a> -->
        <!-- <a data-link="/corporate/approach">Approach</a>
        <a data-link="/corporate/delivery">Delivery</a>
        <a data-link="/corporate/platform">Platform</a> -->
        <a data-link="/corporate/faq">FAQ</a>
    </nav>

    <a data-link="/students/register" class="get-started-btn">Get Started</a>
</header>