<header class="site-header student-header">
    <div class="logo">
        <img data-src="assets/images/logo.png" alt="DYSTIL Logo">
    </div>

    <nav class="navbar student-navbar">
        <a data-link="pages/students.html">Home</a>
        <a data-link="pages/services.html">Services</a>
        <a data-link="pages/pathways.html">Career Pathways</a>
        <a data-link="pages/projects.html">Projects</a>
        <a data-link="pages/student-contact.html">Contact Us</a>
    </nav>

    <a data-link="pages/register.html" class="get-started-btn student-cta">
        Apply Now
    </a>
</header>